<!DOCTYPE html>
<html>

<head>
    <title>Card Review</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        <%= title %>
    </title>
</head>

<nav>
    <a href="/">HOME</a> |
    <a href="/decks">ALL DECKS</a> |
    <% if (user) { %>
        <!-- only show if user is logged in. -->
        <a herf="/logout">LOG OUT</a> |
        <a href="/decks/new"> Add New Deck</a> |

        <% } else { %>
            <a href="/auth/google" class="login">LOG IN</a>
            <% } %>
</nav>

<body>