<%- include("../partials/header")%>


    <form id="new-form" action="/decks" method="POST">

        <div>
            <label>Deck Name: </label>
        </div>
        <input type="text" name="name">
        <br><br>
        <div>
            <label>Designing Company:</label>
        </div>
        <input type="text" name="company">
        <br><br>
        <div>
            <label>Printing Company:</label>
        </div>
        <input type="text" name="producer">
        <br><br>

        <div>
            <label>Description:</label>
        </div>
        <textarea name="desc"></textarea>
        <br><br>
        <div>
            <label>picture link</label>
        </div>
        <input type="text" name="picture">
        <br><br>

        <input type="submit" value="Add Deck">
    </form>

    <%- include("../partials/footer")%>