<%- include("../partials/header")%>


    <form id="new-form" action="/decks" method="POST">

        <label>Deck Name: </label>
        <input type="text" name="name">
        <br><br>
        <label>Designing Company:</label>
        <input type="text" name="company">
        <br><br>
        <label>Printing Company:</label>
        <input type="text" name="producer">
        <br><br>
        <label>Description:</label>
        <textarea></textarea>
        <br><br>
        <label>picture link</label>
        <input type="text" name="picture">
        <br><br>

        <input type="submit" value="Add Deck">
    </form>

    <%- include("../partials/footer")%>